body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: flex-end;  /* Align the content to the right */
    height: 100vh;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin-right: 20px; /* Adjust margin to position the form more precisely */
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
